p{
   
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: italic;
    line-height: 2rem

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
