
.firstP{
    background-color: rgb(200, 165, 204);
   border: 3px solid black;
   padding: 50px 20px 50px 20px;
   margin: 13px 19px;
   border-radius: 23px;
   box-sizing: border-box;
}
body{
    background-color: rgb(89, 58, 69);
}

