.container{
    background-color: blueviolet;
    border: 2px slod black;
    padding: 6px;
    margin: auto;
    border: none;
    
    width: 660px;

}
.btn{
    background-color: crimson;
    padding: 6px;
    margin: auto;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 3px;
    font-weight: bold;
}

.btn:visited{
    background-color: gray;
}

.btn:hover{
    color: orange;
    background-color: maroon;
    border: 3px solid black;
}